<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OTP Verification</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
        <h2>OTP Validation</h2>
        <form id="otpForm">
            <p id="userInfo"></p>
            <input type="text" id="otp" placeholder="Enter OTP" required>
        <button type="submit">Validate OTP</button>
        </form>

        <a href="/api/auth/sign-up">Go back to Sign Up</a>

        <script src="/js/otp.js" defer></script>
</body>
</html>