<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
</head>
<body>

    <header>
        <h1>Welcome to Our Service</h1>
    </header>

    <main>
    <h2>Create an Account</h2>
    <form id="signUpForm">
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" id="username" placeholder="Enter Username" required/>
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" placeholder="Enter Email" required/>
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" placeholder="Enter Password" required/>
        </div>
        <button type="submit">Sign Up</button>
    </form>
    <p>Already have an account? <a href="/api/auth/login">Log in</a></p>
    </main>


    <script src="/js/signUp.js" defer></script>
</body>
</html>
